<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <title>Vue</title>
</head>
<body>
    <div id="app">
       <ul>
           <li v-for="person in people">{{person}}</li>
       </ul>
       <ul>
           <li v-for="(person, index) in people">
               <!--interpolación-->
                {{index}} - {{person}}
            </li>
            <span v-if="index === people.length">person</span>
       </ul>
    </div>
    <script src="js/app.js"></script>
</body>
</html>